.userBlock {
    display: flex;
    justify-content: center;
}

.table_title {
    text-align: center;
    color: aliceblue;
    margin-top: 30px;
}

.users_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    text-align: center;

    tr.active {
        background-color: #4CAF50 !important;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: rgb(108, 180, 124);
        color: #f2f2f2;
        cursor: pointer;
    }

    td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
        width: 20%;
    }

    td:hover {
        font-family: cursive;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }

}